{{#editMode}}
<label for="linked-items-reference-typeahead-{{view.cid}}" class="reference-typeahead-label">{{label}}</label>
<input type="text" id="linked-items-reference-typeahead-{{view.cid}}" class="linked-items-reference-typehead"
       placeholder="{{i18n.REFERENCE}}" data-provide="typeahead"/>
{{/editMode}}
<div class="change-items-legend">
    <span class="change-items-low">{{i18n.CHANGE_ITEM_PRIORITY_LOW}}</span>
    <span class="change-items-medium">{{i18n.CHANGE_ITEM_PRIORITY_MEDIUM}}</span>
    <span class="change-items-high">{{i18n.CHANGE_ITEM_PRIORITY_HIGH}}</span>
    <span class="change-items-emergency">{{i18n.CHANGE_ITEM_PRIORITY_EMERGENCY}}</span>
</div>
<ul id="linked-items-{{view.cid}}" class="linked-items"></ul>